.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Light grey background */
  }
  
  .register-frame {
    background-color: #ffffff; /* White background for the frame */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 15cm; /* Width of the frame set to 15 cm */
    text-align: center;
  }
  
  .logo-image {
    width: 100px; /* Adjust size as needed */
    margin-bottom: 20px;
  }
  
  .register-heading {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .register-form label {
    font-size: 1rem;
    color: #555;
  }
  
  .register-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .register-button {
    padding: 10px;
    border: none;
    border-radius: 20px; /* Capsule-like structure */
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .register-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .login-link {
    margin-top: 10px;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  